card {
  .card {
    margin: 0px;
    margin-top: 1rem;
    border-radius: 2px;
    width: 100%;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 0px 0px;
    box-shadow: 0 0px 0px;
  }

  .card-icon {
    font-size: 2rem;
  }
}
