page-donate {
  .toolbar-background {
    background: #2F774F;
  }

  .toolbar-title {
    color: #fff;
  }
  .date-selector {
    background: #F2F2F2;
  }
  .amount-segment {
    background: #2F774F;

    ion-label {
      p {
        color: white;
      }
    }
    ion-item {
      padding-bottom: 0px !important;
    }
  }

  .text-input {
    font-size: 2rem;
    color: #fff;
  }

  .amount {
    border-bottom: 1px solid #fafafa;
    margin-right: 3rem;
  }

}
